.CardInput {
    margin: 10px;
    height: fit-content;
    
        
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#movieMainContainer {
    overflow-y: auto;
    width: 100vw;
    max-width: 1350px;
    height: 100vh;
    max-height: 1350px;
}

.movieTitles{
    align-content: center;
}

.overview {
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
}

